<h1>List of all kittens</h1>

<% @kittens.each do |k| %>
  <div>
    <h3><%= k.name %></h3>
    <p><b><%= link_to "Edit", edit_kitten_path(k) %></b></p>
    <p><b><%= link_to "Show", kitten_path(k) %></b></p>
    <p><b><%= link_to "New Kitten", new_kitten_path %></b></p>
    <hr>
  </div>
<% end %>
